.compose_editor {
  display: flex;
  flex-direction: column;
  [role='application'] {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    [role='presentation']:nth-of-type(2) {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;
      [role='textbox'] {
        border-left: none;
        border-right: none;
        flex: 1;
        min-height: 0;
      }
    }
  }
}
